<style type="text/css">
	.homeslider {
  
  top: 30px;
}

.carousel {
position: relative;
top: 0px;
}



    .carousel-item{
      min-height:600px;
      background:no-repeat center center scroll;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}

    .carousel-inner {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 150px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: right;
  color: #fff;
  text-align: center;
}

.capttxt {
  color: #ffffff;
  font-size: 35px;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  text-align: right;
}

.announcementscroll {
    font-family: 'Raleway', sans-serif;
	background-color: #e2b500;
	padding: 5px;
	font-size: 14px;
	border-top: 2px solid #a28203;
	border-bottom: 1.8px solid #a28203;
}

.divederlined {
  height: 1.5px;
  background-color: #e2b500; 
}

.divederlineder {
  height: 1.5px;
  background-color: #ffffff; 
}

.newsletterholder {
  background-color: #034e31;
}

.btnhomeslider {
  background-color: transparent;
  border: 1.5px solid white;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-family: 'Exo 2', sans-serif;
}

.btnhomeslider:hover {
  background-color: transparent;
  border: 1.5px solid #e2b500;
  border-radius: 10px;
  color: #fdbd1e;
  font-size: 18px;
  font-family: 'Exo 2', sans-serif;
}

.btnhomeslider:active {
  background-color: transparent;
  border: 1.5px solid #e2b500;
  border-radius: 10px;
  color: #fdbd1e;
  font-size: 18px;
  font-family: 'Exo 2', sans-serif;
}

zoomin img {
  height: 110px;
  width: 110px;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.zoomin img:hover {
  width: 180px;
  height: 180px;
}

.image-box{
  width:100%;
  overflow:hidden;
}
.image {
  width:100%;
  height:250px;
  
  background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.1)),url(https://nikasemo-static.s3-us-west-2.amazonaws.com/icgcviginiabeach/audiomessage1.jpg);
  background-position:center;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
} 
.image:hover {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2); /* IE 9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
   filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); /* IE6 and 7 */ 
} 

.image2 {
  width:100%;
  height:250px;
  
  background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.1)),url(https://www.earnmydegree.com/sites/all/files/public/video-prod-image.jpg);
  background-position:center;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
} 
.image2:hover {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2); /* IE 9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
   filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); /* IE6 and 7 */ 
} 

.image1 {
  width:100%;
  height:250px;
  
  background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.1)),url(http://3.bp.blogspot.com/-rL9PZ6_DO14/U0DgkLeMHCI/AAAAAAAAD6M/TEFO1GJW0Xc/s1600/raised-hands-in-worship.jpg);
  background-position:center;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
} 
.image1:hover {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2); /* IE 9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
   filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); /* IE6 and 7 */ 
}

.image3 {
  width:100%;
  height:250px;
  
  background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.1)),url(https://joncoombs.files.wordpress.com/2012/08/640px-lancaster_baptist_church_main_auditorium.jpg);
  background-position:center;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
} 
.image3:hover {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2); /* IE 9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
   filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); /* IE6 and 7 */ 
}

.housedescribe{
  text-align: center;
}



.housedescribe a{
  text-align: center; 
  position:relative; 
  top: 110px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  padding: 15px;
}

.housedescribe a:hover{
  text-align: center; 
  position:relative; 
  top: 110px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  border-bottom: 3px solid #ffffff;
  padding: 15px;
}

</style>

<section class="homeslidersect">
	<header>
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">

          <!-- Slide Three - Set the background image for this slide in the line below -->
           <div class="carousel-item active" style="background:linear-gradient(0deg,rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('https://nikasemo-static.s3-us-west-2.amazonaws.com/icgcviginiabeach/newsizehome1.jpg');">
            <div class="carousel-caption d-md-block">
              <h3 class="capttxt" style="text-shadow: 0px 4px 7px rgba(150, 150, 150, 0.65); text-align: left;">Welcome to ICGC Virginia Branch.</h3>
              <p style="font-family: 'Exo 2', sans-serif; letter-spacing: 2px; text-shadow: 0px 4px 7px rgba(150, 150, 150, 0.65);text-align: left; font-weight: 300;">"International Central Gospel Church is committed to the holistic preaching and demonstration of God's plans and purposes for mankind as revealed in the Holy Scriptures.</p>
              <p style="text-align: left;"><a href="/aboutchurch" class="btn btn-primary btn-lg btnhomeslider">Learn More</a></p>
            </div>
          </div>


          <!-- Slide Three - Set the background image for this slide in the line below -->
           <div class="carousel-item" style="background:linear-gradient(0deg,rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('https://nikasemo-static.s3-us-west-2.amazonaws.com/icgcviginiabeach/icgc1.jpg');">
            <div class="carousel-caption d-md-block">
              <h3 class="capttxt" style="text-shadow: 0px 4px 7px rgba(150, 150, 150, 0.65); text-align: left;">
              Find joy in the Lord and worship with us.</h3>
              <p style="font-family: 'Exo 2', sans-serif; letter-spacing: 2px; text-shadow: 0px 4px 7px rgba(150, 150, 150, 0.65);text-align: left; font-weight: 300;">"
                Find joy and strength in the Lord as you join us worship in International Central Gospel Church. Be Blessed!  
              </p>
            </div>
          </div>
         
          
           <!-- Slide Two - Set the background image for this slide in the line below -->
           <div class="carousel-item" style="
           background:linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(https://nikasemo-static.s3-us-west-2.amazonaws.com/icgcviginiabeach/newsizehome1.jpg);">
            <div class="carousel-caption d-md-block">
              <h3 class="capttxt" style="text-shadow: 0px 4px 7px rgba(150, 150, 150, 0.65); text-align: left;">
              Purpose and vision go hand-in-hand, and the two are inseparable.</h3>
              <p style="font-family: 'Exo 2', sans-serif; letter-spacing: 2px; text-shadow: 0px 4px 7px rgba(150, 150, 150, 0.65);text-align: left; font-weight: 300;">
              Vision is the force that determines destiny. Vision is what makes the unseen visible and the unknown a reality.</p>
             
            </div>
          </div>

  
          <!-- Slide Two - Set the background image for this slide in the line below -->
           <div class="carousel-item" style="
           background:linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(https://nikasemo-static.s3-us-west-2.amazonaws.com/icgcviginiabeach/churchhome5.jpg);">
            <div class="carousel-caption d-md-block">
              <h3 class="capttxt" style="text-shadow: 0px 4px 7px rgba(150, 150, 150, 0.65); text-align: left;">
              Go therefore and make disciples of all nationss.</h3>
              <p style="font-family: 'Exo 2', sans-serif; letter-spacing: 2px; text-shadow: 0px 4px 7px rgba(150, 150, 150, 0.65);text-align: left; font-weight: 300;">
              “Go, and make disciples of all nations, baptizing them in the name of the Father and of the Son and of the Holy Spirit,...” ~ Matthew 28:19</p>
            </div>
          </div>

         
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
		</header>
</section>
<section class="announcementscroll"> 
	<marquee><span style="font-weight: 700; font-size: 16px; font-family: 'Raleway', sans-serif; margin-right: 5px;">Church Announcements : : : :</span>  
<% Announcement.where(showonhome: true).all.find_each do |announcement| %>
<span style="margin-right: 50px; font-family: 'Open Sans', sans-serif;"><%= announcement.title %></span>
<% end %>
  </marquee>
</section>

<section class="py-5 aboutwistech">
      <div class="container">
       
        <div class ="row">
          <div class="col-lg-9 col-sm-12">
             <h2 style="font-family: 'Raleway', sans-serif; text-align: left; color: #034e31; font-size: 25px;" class="js-reveal">
         Welcome Message</h2>
        <hr align="left" width="10%" class="divederlined">
           <p style="font-weight: 300; font-size: 14px; text-align: left; color: #000000; line-height: 24px;" class="js-reveal">
           International Central Gospel Church is committed to the holistic preaching and demonstration of God's plans and purposes for mankind as revealed in the Holy Scriptures. This plan is set forth in Genesis 1:26-28 when God created mankind in His own image and likeness and commissioned him "to be fruitful, multiply, replenish the earth, and subdue it: and have dominion over it."<br>
          This purpose of God for mankind was lost as a result of The Fall, but restored through the conception, birth, life, ministry, death and resurrection of our Lord Jesus Christ. Furthermore, the Bible emphatically states that; "to everything there is a season, and a time to every purpose under the heaven" (Ecclesiastes 3:1). This means that everything that is done on earth must be driven by purpose. King Solomon also writes: "where there is no vision, the people perish" (Proverbs 29:18). In other words, people throw off self-control, self-discipline and restraint when purpose or vision is missing from life's equation.<br><br>
          Vision is the force that determines destiny. Vision is what makes the unseen visible and the unknown a reality. Purpose and vision go hand-in-hand, and the two are inseparable.
            </p>
          </div>
          <div class="col-lg-3 col-sm-12">
            <img src="https://nikasemo-static.s3-us-west-2.amazonaws.com/icgcviginiabeach/homeprofilepic.png" width="200px" height="200px" class="img-fluid">
          </div>
        </div>
      </div>
    </section>
<section class="js-reveal newsletterholder" style="padding: 40px; margin-bottom: 0px;">
       
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-md-offset-2">
        <h3 style="font-family: 'Raleway', sans-serif; text-align: center; color: #ffffff;" class="js-reveal">
      Stay Connected with your Church Family!  
      </h3>
      <hr align="center" width="10%" class="divederlineder">
       <p style="font-weight: 300; font-size: 14px; text-align: center; color: #ffffff; font-family: 'Exo 2', sans-serif;" class="js-reveal">
           Get daily inspiration from the word of God and connect with our family of faith!
         </p>

<p style="text-align: center;">
       <%= form_for(@newsletter, :html => {:class => "form-inline mr-auto"}) do |f| %>
  <% if @newsletter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newsletter.errors.count, "error") %> prohibited this newsletter from being saved:</h2>

      <ul>
      <% @newsletter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-2">
    <label for="staticEmail2" class="sr-only">Name</label>
    <%= f.text_field :name, :class => "form-control", :placeholder => "Name" %>
  </div>

  <div class="form-group mx-sm-3 mb-2">
     <label for="inputPassword2" class="sr-only">Email</label>
    <%= f.text_field :email, :class => "form-control", :placeholder => "Email" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign Up", :class => "btn btn-primary btnhomeslider mb-2" %>
  </div>
<% end %>


    
</p>
    </div>
    </div>
    </div>
  
</section>

<section>
      
      <div class="row no-gutters">
      <div class="col-lg-3 zoomimgbg1">
       <div class="image-box">
  <div class="image">
    <h3 class="housedescribe">
    <a href="/podcasts" style="text-decoration:none;">Audio Messages</a>
    </h3>
  </div>
</div>
      </div>

      <div class="col-lg-3 zoomimgbg1">
       <div class="image-box">
  <div class="image2">
    <h3 class="housedescribe">
    <a href="/vlogs" style="text-decoration:none;">Video Sermons</a>
    </h3>
  </div>
</div>
      </div>

      <div class="col-lg-3 zoomimgbg2">
       <div class="image-box">
  <div class="image1">
    <h3 class="housedescribe" style="">
    <a href="/announcements" target="_blank" style="text-decoration:none;">Events</a>
    </h3>
  </div>
</div>
      </div>

      <div class="col-lg-3 zoomimgbg2">
       <div class="image-box">
  <div class="image3">
    <h3 class="housedescribe" style="">
    <a href="/churchgallery" target="_blank" style="text-decoration:none;">Gallery</a>
    </h3>
  </div>
</div>
      </div>

    </div>
  </section>





