<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @announcement.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @announcement.description %>
</p>

<p>
  <strong>Image:</strong>
  <img src="<%= @announcement.announcementimage %>">
</p>

<p>
  <strong>Showonhome:</strong>
  <%= @announcement.showonhome %>
</p>

<%= link_to 'Edit', edit_announcement_path(@announcement) %> |
<%= link_to 'Back', announcements_path %>
