
			
			<div class="col-lg-12 col-sm-12">
				<div class="profileholder" style="border-bottom: 1px solid #eaeaea;">
				<div class="row">
					<div class="col-lg-4">
						<p style="text-align: center;">
					<img src="https://res.cloudinary.com/nikasemo/image/upload/v1546156745/daliydevimg_siqitf.jpg" class="img-fluid" style="">
				   </p>
					</div>
					<div class="col-lg-8">
						<p style="text-align: left; margin-top: 12px;">
					<span style="font-weight: 500; font-size: 18px;"><%= post.title %></span><br>
					<span style="font-weight: 300; font-size: 13px;"><%= post.author %></span><br>
					<span style="font-weight: 300;">
					<%=post.shortdescription %></span>
					<br>
					<span><%= link_to "read post", post, :target => "_blank", :style => "color: #000000; font-size: 14px; font-weight: 500;" %>
					<% if signed_in? %>
		            <%= link_to ' | Edit', edit_post_path(post) %>
		            <%= link_to ' | Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
		            <% end %> 
					 </span>
				</p>
					</div>
				</div>
				</div>
			</div>

			